<h3 style="border-block-end: 2px solid blue; font-size:23px;">
    <div class="header-icon mt-3 mb-3" style="display:inline-block;">
        <img src="./../../../../assets/images/automated-gifts.svg"  
            class="img-fluid"
            style="height:60px"
            alt="">
    </div>  
    Automated Greeting
</h3>

<div class="title-float-right">
    <button tabindex="0" class="btn btn-primary" type="button"
            aria-label="APPRECIATE" title="APPRECIATE" routerLink="/award/gifts">
            <mat-icon >add</mat-icon>
            <span class="pt-1 pl-1" style="float:right; vertical-align: center;">
                ADD GIFT
        </span>
    </button>
</div>

<div class="card mt-4 mb-4 " >
    <div class="w-100 p-4">
        <div class="row" style="margin:0 15px;">
            <div class="text-center col-12">
                <img
                    class="img-responsive img-fluid"
                    src="./../../../../assets/images/no_auto_gifts.png">
                <p class="pt-2 text-muted">
                    There are no greetings available at the moment.
                </p>
                <p class="pt-0 mt-0 text-muted">
                    But hey, that should not stop you from dropping a message for that person.
                </p>
            </div>
        </div>
    </div>
</div>
