<div class="container">
    <div class="row justify-content-center "
        style="margin-top: 15%; ">
        <div class="col-md-8">
            <div 
                class="card" 
                style="box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05); min-height: 60%;" >
                <div class="card-body ">
                    <div class="row justify-content-center">
                        <div class="col-4"
                            style="border-right:1px solid #FF7317;">
                            <img src="./../../assets/images/xoxoday-logo-signin.jpg" alt=""
                                class="img-responsive img-fluid"
                                style="display:block; margin:auto; margin-top:50%">
                        </div>
                            
                        <div class="col-8 text-center">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group  pl-md-4 pr-md-4 mt-5">
                                    <input 
                                        formControlName="email"
                                        type="email" 
                                        class="form-control"
                                        placeholder="Email"
                                        style="border:0; 
                                                border-block-end:1px solid rgb(190, 189, 189);">
                                </div>
                                <div class="form-group  pl-md-4 pr-md-4">
                                    <input 
                                        formControlName="password"
                                        type="password" 
                                        class="form-control"
                                        placeholder="Password"
                                        style="border:0; 
                                                border-block-end:1px solid rgb(190, 189, 189);">
                                </div>
                                <button 
                                    type="submit"
                                    class="btn btn-primary mt-3">SIGN IN</button>
                                <a
                                    class="btn mt-3 ml-3"
                                    routerLink="/auth/signup">Register</a>
                                <p class="text-primary text-center mt-4 mb-5">
                                    Terms & Condition | Privacy Policy
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
