
<h3 style="border-block-end: 2px solid blue; font-size:23px;">
    <div class="header-icon mt-3 mb-2" style="display:inline-block;">
        <img src="./../../../../assets/images/add-employee.svg"  
            class="img-fluid"
            style="height:60px"
            alt="">
    </div>  
    Award & Value Card
</h3>
<div class="card mt-4 mb-4" >
    <div style="padding: 24px;">
        <div class="row">
            <div class="form-group col-12">
                <h3 style="font-size: 16px; margin: 0 0 12px; font-weight: bold; display:inline-block">
                    Award List
                </h3>
                <button 
                    routerLink="/award/add-award"
                    class="btn btn-primary" 
                    style="float: right;font-size: 14px;">
                    ADD AWARD
                </button>
            </div>

            <div class="col-12">
                <i class="fa fa-search mr-2"></i>
                <input type="text" 
                    class="col-md-4 input-class mb-3"
                    placeholder="Search">
            </div>
        </div>
        <div class="table-responsive-xl">
            <table class="table labelCss" style="padding: 24px">
                <thead>
                    <th>Name</th>
                    <th>Award Type</th>
                    <th>Reward Points</th>
                </thead>
                <tbody >
                    <td colspan="3"  class="text-center">No Data Found</td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4" >
    <div style="padding: 24px;">
        <div class="row">
            <div class="form-group col-12">
                <h3 style="font-size: 16px; margin: 0 0 12px; font-weight: bold; display:inline-block">
                    Value Cards
                </h3>
                <button 
                    class="btn btn-primary" 
                    style="float: right;font-size: 14px;">
                    ADD NEW CARD
                </button>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Result Oriented.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Result Oriented</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            ResultOriented
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Perseverant.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Perseverant</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            Perseverant
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Insightful.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Insightful</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            Insightful
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Improver.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Improver</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            Improver
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Honest.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Honest</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            Honest
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Customer Focussed.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Customer Focussed</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            CustomerFocussed
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Commited.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Commited</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            Commited
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img 
                        src="./../../../../assets/images/Approachable.png" 
                        class="card-img-top img-responsive"
                        style="background-color: #f2f2f2; padding:15px 0px;">
                    <div class="card-body" style="padding: 10px;">
                        <h3 class="card-title" style="font-size:15px;">Approachable</h3>
                        <p 
                            class="card-title" 
                            style="font-size:14px; color:#E69C75">
                            Approachable    
                        </p>
                        <a 
                            style="float:right; font-size: 13px;" 
                            class="btn btn-defailt mt-0">
                            DISABLE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>                 
</div>
