
<div class="card mb-4 pl-md-4 pr-md-4" 
    style="box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05);" >
    <div class="card-body text-center">

        <img src="./../../../assets/images/verificationr-code-step.svg">
        <h3 class="">Enter the verification code</h3>
        <p class="mb-0">A 6 digit verification code has been sent</p>
        <p class="mb-4">to the email id you provided.   </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
            <div class="form-group mb-5">
                <input
                    formControlName="otp1" 
                    class="otpStyle" 
                    type="number">
                <input
                    formControlName="otp2" 
                    class="otpStyle " 
                    type="number">                     
                <input
                    formControlName="otp3" 
                    class="otpStyle" 
                    type="number">
                <input 
                    formControlName="otp4"
                    class="otpStyle"
                    type="number" >
                <input
                    formControlName="otp5" 
                    class="otpStyle" 
                    type="number" >
                <input 
                    formControlName="otp6"
                    class="otpStyle" 
                    type="number">
            </div>
            <button 
                class="btn btn-default btn-orange btn-block mt-5" 
                type="submit"
                [disabled]="!form.valid" >
                VERIFY
            </button>
        </form>
        <p 
            style="margin-top: 20px; font-size:12px" 
            class="text-muted text-center mb-3">
            Didn't receive the code? 
            <span class="text-primary">Resend code</span>
        </p>
    </div>
</div>