<h3 style="border-block-end: 2px solid blue; font-size:23px;">
    <div class="header-icon mt-3 mb-3" style="display:inline-block;">
        <img src="./../../../../../assets/images/add-employee.svg"  
            class="img-fluid"
            style="height:60px"
            alt="">
    </div>  
    Add Employee
</h3>

<div class="card mt-4 mb-4 " >

    <div class="w-100 p-4">
        <div class="row" style="margin:0 15px;">
            <div class="col-12 pb-3">
                <h4 style="font-size: 16px;;" >Add below details for the new employee</h4>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">First Name*</label>
                <div class="form-group">
                    <input 
                        id="first_name" 
                        name="first_name" 
                        placeholder="" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                    </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Last Name</label>
                
                <div>
                    <input  
                        id="last_name" 
                        name="last_name" 
                        placeholder="" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
                
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Official Email Id*</label>
                <div class="">
                    <input 
                        id="oei" 
                        name="oei" 
                        placeholder="" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">User Access Level*</label>
                <div class="">
                    <input
                        id="usl" 
                        name="usl" 
                        placeholder="User Access Level" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Employee Id</label>
                <div class="">
                    <input  
                        id="empId" 
                        name="empId" 
                        placeholder="" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>

            <p class="col-12" >Add Professional Details</p>

            <div class="col-md-6 mb-3">
                <label class="labelCss">Departments</label>
                <div class="">
                    <input  
                        id="Departments" 
                        name="Departments" 
                        placeholder="Departments" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Department Head</label>
                <div class="">
                    <input  
                        id="dhead" 
                        name="dhead" 
                        placeholder="Department Head" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Designations</label>
                <div class="">
                    <input  
                        id="Designations" 
                        name="Designations" 
                        placeholder="Designations" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Grades</label>
                <div class="">
                    <input  
                        id="grades" 
                        name="grades" 
                        placeholder="Grades" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">HR Representative</label>
                <div class="">
                    <input  
                        id="hrR" 
                        name="hrR" 
                        placeholder="HR Representative" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Manager/Supervisor</label>
                <div class="">
                    <input  
                        id="mns" 
                        name="mns" 
                        placeholder="Manager/Supervisor" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Join Date</label>
                <div class="">
                    <input  
                        id="jd" 
                        name="jd" 
                        placeholder="" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Sites</label>
                <div class="">
                    <input  
                        id="sites" 
                        name="sites" 
                        placeholder="Sites" 
                        required="" 
                        type="text" 
                        value=""
                        class="input-class">
                </div>
            </div>

            <p class="col-12">Add Personal Details</p>
            <div class="col-md-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <label class="labelCss">Birth Month</label>
                        <select
                            name="add1"  
                            value=""
                            required="" 
                            placeholder="Birth Month"
                            type="text" 
                            class="form-control">
                        </select>
                        
                    </div>
                    <div class="col-6">
                        <label class="labelCss">Birth Day</label>
                        <select
                            name="add1"  
                            value=""
                            required="" 
                            type="text" 
                            class="form-control">
                        </select>
                    </div>
                </div>
            </div>

            <p class="col-12" style="font-size:14px; ">Mailing Address</p>

            <div class="col-md-6 mb-3">
                <label class="labelCss">Address Line 1</label>
                <input 
                    name="add1"  
                    value=""
                    required="" 
                    type="text" 
                    class="input-class">

            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Address Line 2</label>
                <input 
                    name="add2"  
                    value=""
                    required="" 
                    type="text" 
                    class="input-class">

            </div>

            <div class="col-md-6 mb-3">
                <label class="labelCss">City</label>
                <input 
                    name="ccity"  
                    value=""
                    required="" 
                    type="text" 
                    class="input-class">

            </div>

            <div class="col-md-6 mb-3">
                <label class="labelCss">State</label>
                <input 
                    name="cstate"  
                    value=""
                    required="" 
                    type="text" 
                    class="input-class">
            </div>
            <div class="col-md-6 mb-3">
                <label class="labelCss">Zip Code</label>
                <input 
                    name="zipcode" 
                    required="" 
                    type="text" 
                    value=""
                    class="input-class">
            </div>



            <div class="col-md-6 mb-3">
                <label class="labelCss">Country</label>
                <input 
                    name="country" 
                    required="" 
                    type="text" 
                    placeholder="countries"
                    value=""
                    class="input-class">
            </div>
            
            <div class="col-md-6 mb-3">
                <label class="labelCss">Contact Number*</label>
                <input 
                    name="cnumber"  
                    value=""
                    required="" 
                    placeholder="Please enter contact number"
                    type="tel" 
                    class="input-class">
            </div> 
            <div class="col-12">
                
                <button class="btn btn-primary" style="float: right;">
                    SUBMIT
                </button> 
                <button class="btn btn-default" style="float: right;">
                    CANCEL
                </button> 
            </div>  
        </div>
    </div>    
</div>
