<h3 style="border-block-end: 2px solid blue; font-size:23px;">
    <div class="header-icon mt-3 mb-3" style="display:inline-block;">
        <img src="./../../../../../assets/images/add-employee.svg"  
            class="img-fluid"
            style="height:60px"
            alt="">
    </div>  
    Add Employee
</h3>

<div class="card mt-4 mb-4 " >

    <div class="w-100 p-4">
        <form [formGroup]="form">
            <div class="row" style="margin:0 15px;">
                <div class="col-12 pb-3">
                    <h4 style="font-size: 16px;;" >Add below details for the new employee</h4>
                </div>  
                <div class="col-md-6 mb-3">
                    <label class="labelCss">First Name*</label>
                    <div class="form-group">
                        <input 
                            formControlName="firstname"
                            id="first_name" 
                            type="text" 
                            class="input-class">
                            <div *ngIf="form.get('firstname').touched && form.get('firstname').invalid"
                                class="alert alert-danger">First name is required</div>
                        </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Last Name</label>
                    
                    <div>
                        <input  
                            formControlName="lastname"
                            id="last_name" 
                            type="text"
                            class="input-class">
                    </div>
                    
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Official Email Id*</label>
                    <div class="">
                        <input 
                            id="oei"
                            formControlName="email"
                            type="text" 
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">User Access Level*</label>
                    <div class="">
                        <input
                            formControlName="userAccessLevel"
                            id="usl"
                            placeholder="User Access Level"
                            type="text"
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Employee Id</label>
                    <div class="">
                        <input  
                            id="empId"
                            formControlName="employeeId"
                            type="text" 
                            class="input-class">
                    </div>
                </div>

                <p class="col-12" >Add Professional Details</p>

                <div class="col-md-6 mb-3">
                    <label class="labelCss">Departments</label>
                    <div class="">
                        <input  
                            id="Departments"
                            formControlName="department" 
                            placeholder="Departments"  
                            type="text" 
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Department Head</label>
                    <div class="">
                        <input  
                            id="dhead" 
                            formControlName="departmentHead" 
                            placeholder="Department Head" 
                            type="text"
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Designations</label>
                    <div class="">
                        <input  
                            formControlName="designation" 
                            id="Designations" 
                            placeholder="Designations"
                            type="text" 
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Grades</label>
                    <div class="">
                        <input  
                            formControlName="grades" 
                            id="grades" 
                            placeholder="Grades"
                            type="text" 
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">HR Representative</label>
                    <div class="">
                        <input  
                            formControlName="hr" 
                            id="hrR" 
                            placeholder="HR Representative"
                            type="text"
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Manager/Supervisor</label>
                    <div class="">
                        <input  
                            formControlName="manager" 
                            id="mns" 
                            placeholder="Manager/Supervisor"
                            type="text" 
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Join Date</label>
                    <div class="">
                        <input  
                            formControlName="joinDate" 
                            id="jd"
                            type="date"
                            class="input-class">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Sites</label>
                    <div class="">
                        <input  
                            formControlName="sites" 
                            id="sites" 
                            placeholder="Sites"
                            type="text"
                            class="input-class">
                    </div>
                </div>

                <p class="col-12">Add Personal Details</p>
                <div class="col-md-6 mb-3">
                    <div class="row">
                        <div class="col-6">
                            <label class="labelCss">Birth Month</label>
                            <select
                                formControlName="birthMonth" 
                                placeholder="Birth Month"
                                type="text" 
                                class="form-control">
                            </select>
                            
                        </div>
                        <div class="col-6">
                            <label class="labelCss">Birth Day</label>
                            <select
                                formControlName="birthDate" 
                                type="text" 
                                class="form-control">
                            </select>
                        </div>
                    </div>
                </div>

                <p class="col-12" style="font-size:14px; ">Mailing Address</p>
                <div formGroupName="address" class="col-12 row">
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Address Line 1</label>
                    <input 
                        formControlName="addressLine1" 
                        type="text" 
                        class="input-class">

                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Address Line 2</label>
                    <input  
                        formControlName="addressLine2" 
                        type="text" 
                        class="input-class">

                </div>

                <div class="col-md-6 mb-3">
                    <label class="labelCss">City</label>
                    <input
                        formControlName="city" 
                        type="text" 
                        class="input-class">

                </div>

                <div class="col-md-6 mb-3">
                    <label class="labelCss">State</label>
                    <input  
                        formControlName="state" 
                        type="text" 
                        class="input-class">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Zip Code</label>
                    <input  
                        formControlName="pincode" 
                        type="number"
                        class="input-class">
                </div>



                <div class="col-md-6 mb-3">
                    <label class="labelCss">Country</label>
                    <input 
                        formControlName="country" 
                        type="text" 
                        placeholder="countries"
                        class="input-class">
                </div>
                
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Contact Number*</label>
                    <input  
                        formControlName="contactnumber" 
                        placeholder="Please enter contact number"
                        type="number" 
                        class="input-class">
                        <div *ngIf="form.get('address.contactnumber').touched && form.get('address.contactnumber').invalid"
                            class="alert alert-danger">Contact number is required</div>
                </div> 
                </div>
                <div class="col-12">
                    
                    <button type="submit" class="btn btn-primary" style="float: right;">
                        SUBMIT
                    </button> 
                    <button type="reset" class="btn btn-default" style="float: right;">
                        CANCEL
                    </button> 
                </div>  
            </div>
        </form>
    </div>    
</div>
