
<div class="card mb-4 pl-md-4 pr-md-4" 
    style="box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05);">
    <div class="card-body text-center">

        <img src="./../../../assets/images/email-step.svg">
        <h3 class="">Happiness starts here!</h3>
        <p class="mb-0">Create an account with us and start exploring our product.</p>
        <p class="mb-4">It won’t take more than a few steps, we promise.</p>
        <div class="form-group mb-3">
            <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
                <div class="row mb-3"> 
                    <div class="col-md-6">
                        <input 
                            formControlName="firstName"
                            type="text" 
                            class="form-control" 
                            placeholder="First Name" >
                    </div>
                    <div class="col-md-6">
                        <input
                            formControlName="lastName" 
                            type="text" 
                            class="form-control" 
                            placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input
                            formControlName="email" 
                            type="email" 
                            class="form-control" 
                            placeholder="Please enter your corporate email id here">
                    </div>
                </div>
                <button 
                    class="btn btn-default btn-orange btn-block mt-5" 
                    type="submit"
                    [disabled]="!signupform.valid" 
                    id="emailButton">
                    LET'S BEGIN
            </button>
            </form>
            <p 
                style="margin-top: 20px; font-size:12px" 
                class="text-muted text-center mb-3">
                No CC required
            </p>
    </div>
</div>
