<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="mx-auto mt-5" style="padding:10px">
      <img 
      src="./../../../assets/images/xoxoday-logo-admin.webp" 
      alt=""
      class="img-responsive">
    </div>
    </mat-toolbar>
    <mat-nav-list class="mt-5">
      <!-- <a mat-list-item href="#">Link 1</a> -->
      <a 
        class="nav-link heading"
        data-toggle="collapse" 
        data-target="#collapseGroups" 
        aria-expanded="false" 
        aria-controls="collapseGroups">
        Groups
        <ul class="mt-2 collapse" id="collapseGroups">
            <li 
              class="nav-link sub-heading pl-0 ml-0"
              routerLink="/domain">
                <img 
                    src="./../../../assets/images/company-board.png  " 
                    style="border-radius: 50%; border: 1px solid rgb(218, 216, 216); 
                            background-color: white; height:40px; width:40px" 
                    class="img-fluid ">
                Arvgem Townhall
            </li>
        </ul>
      </a>
      <a 
        class="nav-link heading" 
        data-toggle="collapse" 
        data-target="#collapseAwards" 
        aria-expanded="false" 
        aria-controls="collapseAwards">
        Awards
        <ul class="  collapse" id="collapseAwards">
            <li class="nav-link sub-heading pl-0" routerLink="/award/appreciatelist">
                <img 
                    src="./../../../assets/images/given-award.svg" 
                    style="border-radius: 50%; border: 1px solid rgb(218, 216, 216); 
                            background-color: white; height:40px; width:40px" 
                    class="img-fluid ">
                Give an Award
            </li>
            <li class="nav-link sub-heading pl-0" routerLink="/award/budget">
                <img 
                    src="./../../../assets/images/manage-budget.svg" 
                    style="border-radius: 50%; border: 1px solid rgb(218, 216, 216); 
                            background-color: white; height:40px; width:40px" 
                    class="img-fluid ">
                Manage Budgets
            </li>
            <li class="nav-link sub-heading pl-0"  routerLink="/award/awards">
                <img 
                    src="./../../../assets/images/award-list.svg" 
                    style="border-radius: 50%; border: 1px solid rgb(218, 216, 216); 
                            background-color: white; height:40px; width:40px" 
                    class="img-fluid ">
                Award List
            </li>
            <li class="nav-link sub-heading pl-0"  routerLink="/award/giftslist">
                <img 
                    src="./../../../assets/images/automated-gifts.svg" 
                    style="border-radius: 50%; border: 1px solid rgb(218, 216, 216); 
                            background-color: white; height:40px; width:40px" 
                    class="img-fluid ">
                Automated Greeting
            </li>
        </ul>
      </a>
      <a class="nav-link heading">Redeem Points</a>
      <a class="nav-link heading" routerLink="/leaderboard">Leaderboard</a>
      <a 
        class="nav-link heading" 
        data-toggle="collapse" 
        data-target="#collapseAdmin" 
        aria-expanded="false" 
        aria-controls="collapseAdmin">
        Admin
        <ul class="mt-2 collapse" id="collapseAdmin">
            <li class="nav-link sub-heading pl-0 active" routerLink="/admin/userInfo">
                <img 
                    src="./../../../assets/images/business-information.svg" 
                    style="border-radius: 50%; border: 1px solid rgb(218, 216, 216); 
                            background-color: white" 
                    class="img-fluid">
                Business Information</li>
            <li class="nav-link sub-heading pl-0" routerLink="/admin/platform">
                <img 
                src="./../../../assets/images/platform-settings.svg" 
                style="border-radius: 50%; border: 1px solid rgb(218, 216, 216);
                  background-color: white;" 
                class="img-fluid ">
                Platform Settings</li>
            <li class="nav-link sub-heading pl-0" routerLink="/admin/billingInfo">
                <img 
                src="./../../../assets/images/billing-information.svg" 
                style="border-radius: 50%; border: 1px solid rgb(218, 216, 216);
                  background-color: white;" 
                class="img-fluid ">
                Billing Information</li>
            <li class="nav-link sub-heading pl-0" routerLink="/admin/userManagement">
                <img 
                src="./../../../assets/images/user-management.svg" 
                style="border-radius: 50%; border: 1px solid rgb(218, 216, 216);
                  background-color: white;" 
                class="img-fluid ">
                User Management</li>
            <li class="nav-link sub-heading pl-0" routerLink="/admin/pointAdministration">
                <img 
                src="./../../../assets/images/points-administration.svg" 
                style="border-radius: 50%; border: 1px solid rgb(218, 216, 216);
                  background-color: white;" 
                class="img-fluid ">
                Point Administration</li>
        </ul>
      </a>
      <a class="nav-link heading" routerLink="/reports">Reports</a>
      <a class="nav-link heading">Help Center</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #drawer2 position="end" class="sidenav2" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <mat-nav-list>
    <a mat-list-item class="mx-auto mt-3 mb-1 justify-content-center">
        <img 
        src="./../../../assets/images/img1.png" 
        style="height:40px; width:40px;"
        class="img-responsive">
    </a>
    <a mat-list-item class="mx-auto mt-1 mb-1" style="padding:10px">
        <img 
        src="./../../../assets/images/img1.png" 
        style="height:20px; width:20px;"
        class="img-responsive">
    </a>
    <a mat-list-item class="mx-auto mt-1 mb-1" style="padding:10px">
        <img 
        src="./../../../assets/images/img1.png" 
        style="height:20px; width:20px;"
        class="img-responsive">
    </a>
    <a mat-list-item class="mx-auto mt-1 mb-1" style="padding:10px">
        <img 
        src="./../../../assets/images/img1.png" 
        style="height:20px; width:20px;"
        class="img-responsive">
    </a>
    <a mat-list-item class="mx-auto mt-1 mb-1" style="padding:10px">
        <img 
        src="./../../../assets/images/img1.png" 
        style="height:20px; width:20px;"
        class="img-responsive">
    </a>
    <a mat-list-item class="mx-auto mt-1 mb-1" style="padding:10px">
        <img 
        src="./../../../assets/images/img1.png" 
        style="height:20px; width:20px;"
        class="img-responsive">
    </a>

  </mat-nav-list>
  </mat-sidenav>



  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-lg-none">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="flex: auto;"></span>
      <button
        type="button"
        aria-label="Toggle sidenav2"
        mat-icon-button
        (click)="drawer2.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">keyboard_arrow_down</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container-fluid">
        <div class="row" style="height:100%">
            <div class="col-12">
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </mat-sidenav-content>



</mat-sidenav-container>
