<h3 style="border-block-end: 2px solid blue; font-size:23px;" 
    class="mt-4 mb-4 pb-4">  
    Greetings Automation
</h3>

<!-- <router-outlet></router-outlet> -->

<div class="card mt-4 mb-4">

    <div 
        class="col-md-12 form-group" 
        style="padding: 0px;">
        <div style="padding: 24px;">
            <h3 style="font-size: 16px; margin: 0 0 12px; font-weight: bold;">
                What type of event do you want to setup this gift for?</h3>
            <div 
                class="" 
                role="radiogroup" 
                aria-label="gift_type">
                <label class="" style="width: 100%; margin: 10px 0px;">
                    <input class="mr-3" name="gift_type" type="radio" value="" checked="">
                    Birthday
                </label>
                <label class="" style="width: 100%;  margin: 10px 0px;">
                    <input class="mr-3" name="gift_type" type="radio" value="">
                    Work Anniversary
                </label>
                <label class="" style="width: 100%;  margin: 10px 0px;">
                    <input class="mr-3" name="gift_type" type="radio" value="">
                    Welcome Onboard (For new Joinees)
                </label>
                </div>   
        </div>
    </div>

    <div class="col-12 pb-4">
                
        <button class="btn btn-primary mr-3" style="float: right;">
            NEXT
        </button> 
        <button class="btn btn-default mr-3 " style="float: right;">
            CANCEL
        </button> 
    </div> 

</div>
