<h3 style="border-block-end: 2px solid blue; font-size:23px;">
    <div class="header-icon mt-3 mb-3" style="display:inline-block;">
        <img src="./../../../../assets/images/manage-budget.svg"  
            class="img-fluid"
            style="height:60px"
            alt="">
    </div>  
    Manage Budgets
</h3>

<div class="title-float-right">
    <button tabindex="0" class="btn btn-primary" type="button"
            title="Create Budget" routerLink="/award/create-budget">
            <mat-icon >add</mat-icon>
            <span class="pt-1 pl-1" style="float:right; vertical-align: center;">
                CREATE BUDGET
        </span>
    </button>
</div>
