<h3 style="border-block-end: 2px solid blue; font-size:23px;">
    <div class="header-icon mt-3 mb-3" style="display:inline-block;">
        <img src="./../../../../assets/images/business-information.svg"  
            class="img-fluid"
            style="height:60px"
            alt="">
    </div>  
    Business Information
</h3>


<div class="card mt-4 mb-4 ">
    <nav class="nav nav-tabs">
        <a 
            class="nav-link active nav-head" >
            BUSINESS INFORMATION
        </a>
        <a 
            class="nav-link nav-head"
            routerLink="/admin/userInfo/site" >
            SITE INFORMATION</a>
    </nav>
    <div class="p-4">
        <form [formGroup]="form">
            <div  
                class="row" 
                style="margin:0 15px;">
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Company Name*</label>
                    <div class="form-group">
                    <input 
                            formControlName="companyname"
                            id="company_name"  
                            placeholder="Enter company name" 
                            type="text" 
                            autofocus="true"
                            class="input-class">
                            <div *ngIf="form.get('companyname').touched && form.get('companyname').invalid"
                            class="p-1 alert alert-danger">Company name is required</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Website*</label>
                    
                    <div>
                        <input
                            formControlName="website"  
                            id="website"  
                            placeholder="Please enter valid website url" 
                            type="text"
                            class="input-class">
                            <div *ngIf="form.get('website').touched && form.get('website').invalid"
                            class="p-1 alert alert-danger">Website is required</div>
                    </div>
                    
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Tax Id*</label>
                    <div class="">
                        <input 
                            formControlName="taxId"
                            id="gst"  
                            placeholder="Please enter Tax ID number of 15 char length" 
                            type="text" 
                            class="input-class">
                            <div *ngIf="form.get('taxId').touched && form.get('taxId').invalid"
                            class="p-1 alert alert-danger">Tax ID is required</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Address*</label>
                    <div class="">
                        <input
                            formControlName="address"   
                            id="address" 
                            placeholder="Please enter street address" 
                            maxlength="100" 
                            type="text" 
                            class="input-class">
                            <div *ngIf="form.get('address').touched && form.get('address').invalid"
                            class="p-1 alert alert-danger">Address is required</div>
                    </div>
                    
                    <span style="float: right; color: rgba(0, 0, 0, 0.54); font-size: 13px;">0/100</span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Zipcode*</label>
                    <div class="">
                        <input  
                            formControlName="pincode"
                            id="zipcode" 
                            placeholder="Please enter zipcode" 
                            type="number" 
                            class="input-class">
                            <div *ngIf="form.get('pincode').touched && form.get('pincode').invalid"
                            class="p-1 alert alert-danger">Zipcode is required</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Country*</label>
                    <input 
                        formControlName="country"
                        type="text"
                        class="input-class">
                        <div *ngIf="form.get('country').touched && form.get('country').invalid"
                            class="p-1 alert alert-danger">Country is required</div>
                </div>
            
                <div class="col-md-6 mb-3">
                    <label class="labelCss">State</label>
                    <input 
                        formControlName="state"   
                        type="text" 
                        class="input-class">
                        <div *ngIf="form.get('state').touched && form.get('state').invalid"
                            class="p-1 alert alert-danger">State is required</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">City</label>
                    <input
                        formControlName="city"   
                        type="text" 
                        class="input-class">
                        <div *ngIf="form.get('city').touched && form.get('city').invalid"
                        class="p-1 alert alert-danger">City is required</div>

                </div>
                <div class="col-md-6 mb-3">
                    <label class="labelCss">Contact Number*</label>
                    <input 
                        formControlName="contactnumber"
                        placeholder="Please enter contact number"
                        type="number" 
                        class="input-class">
                        <div *ngIf="form.get('contactnumber').touched && form.get('contactnumber').invalid"
                            class="p-1 alert alert-danger">Contact number is required</div>
                </div> 
                <div class="col-12">
                    <button
                        type="submit"
                        class="btn btn-primary" 
                        style="float: right;">
                        SUBMIT
                </button> 
                </div> 
            </div>
        </form> 
    </div>    
</div>
