<div class="card mb-4 pl-md-4 pr-md-4" 
    style="box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05);" >
    <div class="card-body text-center">

        <img src="./../../../assets/images/set-password-step.svg">
        <h3 class="mt-5 mb-5">Set your password</h3>
        <div 
            class="form-group" 
            style="position: relative;">
            <input 
                type="password" 
                name="password" 
                id="pass" 
                class="form-control" 
                placeholder="Password" 
                required="" 
                autofocus="">

        </div>
        <div 
            class="form-group" 
            style="position: relative;">
            <input 
                type="password" 
                name="cpassword" 
                id="cpass" 
                class="form-control" 
                placeholder="Confirm Password" 
                required="" 
                autofocus="">

        </div>
            <a 
                class="btn btn-default btn-orange btn-block mt-5" 
                type="button" 
                routerLink="/auth/companyDetail"
                onclick="signInSubmit(event)" 
                id="signInButton" >
                SIGN IN
            </a >
            <p 
                style="margin-top: 20px; margin-bottom:5px;  font-size:12px;" 
                class="text-muted text-center">
                This password should be minimum 8 characters long and
            </p>
            <p
                style="font-size:12px; margin-bottom:5px;"
                class="text-muted text-center">
                should contain at least one capital letter, one special character
            </p>
            <p
                style=" font-size:12px"
                class="text-muted text-center mb-3">
                among '! @ # $ % ^ * &amp;' and one numeric character.
            </p>
    </div>
</div>
