<h3 style="border-block-end: 2px solid blue; font-size:23px;" 
    class="mt-4 mb-4 pb-4">  
    Create An Award
</h3>

<div class="card mt-4 mb-4">

    <div 
        class="col-md-12 form-group" 
        style="padding: 0px;">
        <div style="padding: 24px;">
            <h3 style="font-size: 16px; margin: 0 0 12px; font-weight: bold;">
                What kind of award do you want to setup?</h3>
            <div 
                class="" 
                role="radiogroup" 
                aria-label="gift_type">
                <label class="" style="width: 100%; margin: 10px 0px;">
                    <input class="mr-3" name="gift_type" type="radio" value="" checked>
                    Create an award with no restrictions. Anyone can reward and anyone can be rewarded.
                </label>
                <label class="" style="width: 100%;  margin: 10px 0px;">
                    <input class="mr-3" name="gift_type" type="radio" value="">
                    Create an award with restriction. Only specific people can reward or be rewarded.
                </label>
                <label class="" style="width: 100%;  margin: 10px 0px;">
                    <input class="mr-3" name="gift_type" type="radio" value="">
                    Create a nomination based award. Awarding is done based on 1 or more levels of approval.
                </label>
                </div>   
        </div>
    </div>

    <div class="col-12 pb-4">
                
        <button class="btn btn-primary mr-3" style="float: right;">
            NEXT
        </button> 
        <button class="btn btn-default mr-3 " style="float: right;">
            CANCEL
        </button> 
    </div> 

</div>
